<div class="card">
  <div class="card-header">
    <h2>New Post</h2>
  </div>
  <div class="card-body">
    <div *ngIf="errorMessage != ''">
      {{errorMessage}}
    </div>

    <form (ngSubmit)="submit()">
      <div>
        <input type="text" placeholder="Post Title" [(ngModel)]="title" class="title-input form-control" name="title-input">
      </div>
      <div>
        <textarea rows="15" placeholder="Post Body" [(ngModel)]=body class="body-input form-control" name="body-input"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">New Post</button>
      <a routerLink="/"><button class="btn btn-secondary" type="button">Cancel</button></a>
    </form>
  </div>
</div>